In [20]:
import numpy as np
import pandas as pd

In [21]:
df=pd.read_csv('spam.csv')

In [22]:
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [26]:
df.shape
df.isnull().sum()

v1               0
v2               0
Unnamed: 2    5522
Unnamed: 3    5560
Unnamed: 4    5566
dtype: int64

In [40]:
df=df.drop(columns=['Unnamed: 2','Unnamed: 3','Unnamed: 4'])

In [41]:
a.describe()

          v1                      v2
count   5572                    5572
unique     2                    5163
top      ham  Sorry, I'll call later
freq    4825                      30

In [42]:
a.groupby('v1').describe()

        v2
     count unique                                                top freq
v1
ham   4825   4516                             Sorry, I'll call later   30
spam   747    647  Please call our customer service representativ...    4

In [47]:
df['spam']=df['v1'].apply(lambda x:1 if x=='spam' else 0)
df.head()

     v1                                                 v2  spam
0   ham  Go until jurong point, crazy.. Available only ...     0
1   ham                      Ok lar... Joking wif u oni...     0
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3   ham  U dun say so early hor... U c already then say...     0
4   ham  Nah I don't think he goes to usf, he lives aro...     0

In [48]:
from sklearn.model_selection import train_test_split
X_train,x_test,Y_train,y_test=train_test_split(df.v2,df.spam)

In [49]:
x_test

1168    Ok . . now i am in bus. . If i come soon i wil...
1511    Oops sorry. Just to check that you don't mind ...
767                                Sorry, I'll call later
1245    Hello which the site to download songs its urg...
1959                              Howz that persons story
                              ...
4737    I bought the test yesterday. Its something tha...
2653    Sorry da:)i was thought of calling you lot of ...
4024                  &lt;#&gt;  in mca. But not conform.
3686               Great! I shoot big loads so get ready!
2036    You can jot down things you want to remember l...
Name: v2, Length: 1393, dtype: object

In [51]:
from sklearn.feature_extraction.text import CountVectorizer
v=CountVectorizer()
X_train_count=v.fit_transform(X_train.values)

In [52]:
X_train_count

<4179x7427 sparse matrix of type '<class 'numpy.int64'>'
	with 55118 stored elements in Compressed Sparse Row format>

In [56]:
from sklearn.naive_bayes import MultinomialNB
model=MultinomialNB()
model.fit(X_train_count,Y_train)

MultinomialNB()

In [61]:
x_test_count=v.transform(x_test)
model.score(x_test_count,y_test)

0.9834888729361091